<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.nitc.projectallocator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/circle"
        android:label= "Autometé"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".FirebaseMessageService" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name=".FirebaseInstanceIDService" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <activity android:name=".ArchiveActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FacultyMain" android:screenOrientation="portrait" />
        <activity android:name=".StudentMain" android:screenOrientation="portrait" />
        <activity android:name=".SignIn" android:screenOrientation="portrait"/>
        <activity android:name=".Fake" android:screenOrientation="portrait"/>
    </application>

</manifest>